:root {
    /** colors */
    --Reef: #fe7e6b;
    --Jacarta: #3a3d5d;
    --Black: #25242c;
    /** fonts */
    --overall-fontsize: 62.5%;
}

html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
}

html{
    font-size: var(--overall-fontsize)  /**16px * 0.625 = 10px conversion en base 10*/
}

body{
    font-size: 1.4rem;  /** 14px; */

}

.main-container{
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

/** Header */
.header {
    background-color: var(--Reef);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.navbar__right {
    display: none;
}
.menu-main {
    display: none;
}


.menu-authentication {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.menu-authentication .item-3 {
    display: none;
}
.btn {
    border: 1px solid yellow;
    padding: .6rem 1.2rem;
    border-radius: 1.5rem;
    box-sizing: border-box;
    text-decoration: none;
}


/** Main */
.main {
    flex-grow: 1;
    max-height: 100vh;
    height: 100vh;
}

.footer{
    background-color: var(--Black);
}

.container{
    border: 2px dotted blue;
    max-width: 96vw;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 .8rem;
}
.container-fluid{
    border: 2px dotted orange;
    max-width: 100vw;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;

}
/** Media Queries */
@media ( min-width: 567px ) {
    .container{
        max-width: 56rem;
        padding: 0 1.6rem;
    }
}
@media ( min-width: 768px){
    .container{
        max-width: 72rem;
        padding: 0 2.4rem;
    }
    .navbar__right {
        display: block;
    }
    .menu-main {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }
    .icon-hamburguer {
        display: none;
    }
}
@media ( min-width: 992px ) {
    .container{
        max-width: 98rem ;
        padding: 0 3.2rem;
    }
}
@media ( min-width: 1200px ) {
    .container{
        max-width: 114rem ;
        padding: 0 4rem;
    }
}
